*{
	padding:0; margin:0;
	box-sizing: border-box;
}

h1{
	color: #ffffff;
}

h2{
	font-family: 'Share', cursive;
}
p{
	font-family: 'Roboto', sans-serif;
	color: #000000;
}
small{
	color: #b69877;
}
/* link*/
small a,  p a{
	color: #b69877;
	text-decoration: none;
}

/* Header */
header{
	background: #212121;
	padding: 10px 30px 30px 40px;
	margin-bottom: 0;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

header img{
	float: left;
}
header h1{
	margin-top:20px;
	text-align:right;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*pulse*/

.imglogo{
	width: 75px;
	height: 75px;
}

.center{
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translate(-50%, -50%);
}

.pulse{
	width: 75px;
	height: 75px;
	background: #b69877;
	border-radius: 50%;
	color: #fff;
	line-height: 100px;
	animation: animate 3s linear infinite;
}

@keyframes animate{
	0%{
		box-shadow: 0 0 0 0 rgba(182,152,119,.7);
	}
	40%{
		box-shadow: 0 0 0 50px rgba(182,152,119,0);
	}
	80%{
		box-shadow: 0 0 0 50px rgba(182,152,119,0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(182,152,119,0);
	}
}


/* Content */
/*
.page{
	background: url(../img/twd-logo.png) right top no-repeat;
}
*/
.one{
	background-color: #EEEEEE;
}
	.one .page-container{
		position: absolute;
		margin-left: -560px;
		top: 32%;
		left: 50%;
		margin-bottom: 150px;
		max-width: 650px;
		max-height: 200px;
		border: 3px solid #73AD21;
	}
		.one .page-container h2{
			font-size: 4em;
		}
		.one .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}

.two{
	background-color: #D2D7D3;
}
	.two .page-container{
		position: absolute;
		margin-left: -560px;
		left: 50%;
		top: 32%;
		margin-bottom: 150px;
		max-width: 650px;
		max-height: 200px;
		border: 3px solid #73AD21;
	}
		.two .page-container h2{
			font-size: 4em;
		}
		.two .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}

		q:before,q:after {
		    content:'';
		}
		abbr,acronym { border: 0;
		}

		.content{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}


		/* Section 2
		 * --------------------------------------- */
		#section1{
			background-color: #D2D7D3;
		}
		#section1 h1{
			color: #fff;
		}
		#section1 p{
			opacity: 0.8;
		}
		
.three{
	background-color: #95A5A6;
}
	.three .page-container{
		position: absolute;
		margin-left: -560px;
		left: 50%;
		top: 32%;
		max-width: 650px;
		max-height: 200px;
		margin-bottom: 150px;
		border: 3px solid #73AD21;
	}
		.three .page-container h2{
			font-size: 4em;
		}
		.three .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}
		
.four{
	/* biasa 	background-color: #111111; 	*/
	background : linear-gradient(132deg, #111, #2c3e50);
	background-size: 400% 400%;
	animation: BackgroundGradient 20s ease infinite;
}
@keyframes BackgroundGradient{
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
	
	.four .page-container{
		position: absolute;
		margin-left: -560px;
		left: 50%;
		top: 32%;
		max-width: 650px;
		max-height: 200px;
		margin-bottom: 150px;
		border: 3px solid #73AD21;
	}
		.four .page-container h2{
			color: #fff;
			font-size: 4em;
		}
		.four .page-container p{
			color: #fff;
			padding: 20px 0;
			line-height: 1.5em;
		}
	.socmed{
		border: 3px solid #73AD21;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 36%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}
	.socmed li{
		list-style: none;
		float: left;
		margin: 10px;
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		background: #fff;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		color: #262626;
		font-size: 50px;
		z-index: 1;
		transition: .5s ease-in-out;
	}
		
	.socmed li:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: -100%;
		background: #ccc;
		z-index: -1;
		border-radius: 50%;
		transform: scale(0);
		transition: .3s ease-in-out;
	}
	
	.socmed li:after{
		content: '';
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		right: -100%;
		background: rgba(255, 255, 255, .3);
		transition: .5s ease-in-out;
		transition-delay: .1s;
	}
	
	.socmed li:hover:before{
		left: 0;
		transform: scale(.9);
	}
	
	.socmed li:hover:after{
		right: 0%;
	}
	
	.socmed li:nth-child(1):before{ background: #3b5999; }
	.socmed li:nth-child(2):before{ background: #55acee; }
	.socmed li:nth-child(3):before{ background: #0077B5; }
	.socmed li:nth-child(4):before{ background: #e4405f; }
	
	
	.socmed li .fa{
		transition: .3s ease-in-out;
	}
	
	.socmed li:hover .fa{
		color: #fff;
	}
	
	a:visited {
		color: #b69877;
	}
	
	a:hover {
		color: #34465d;
	}
	
	.socmed a:link {
		color: #000;
	}
	.socmed a:visited {
		color: #000;
	}
	.socmed a:hover {
		color: #fff;
	}
	
/*hover 2 
		
*/
	.imgcontainer{
		width: 500px;
		height: 500px;
		margin-left: 500px;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		overflow:hidden;
	}
	
	.imgcontainer figure{
		height: 100%;
		margin: 0;
		padding: 0;
	}
	
	.imgcontainer figure .img01{
		width: 100%;
	}
	
	.imgcontainer figcaption{
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%; 
		height: 100%;
		box-sizing: border-box;
		padding: 80px 20px;
		z-index: 100;
		opacity: 0;
		transition-delay: .3s;
		transition: .5s ease;
	}
	
	.imgcontainer:hover figcaption{
		opacity: 1;
	}
	
	.imgcontainer figure:before,
	.imgcontainer figure:after{
		content: '';
		position: absolute;
		transition: .5s ease-in-out;
		height: 200%;
		width: 200%;
		background: #000;
	}
	
	.imgcontainer figure:before{
		right: 0;
		top: 0;
		background: rgba(220,220,220,.8);
		transform: skew(45deg) translateX(100%);
	}
	.imgcontainer figure:after{
		left: 0;
		bottom: 0;
		background: rgba(210,210,210,.8);
		transform: skew(-135deg) translateX(-100%);
	}
	
	.imgcontainer:hover figure:before
	{
		transform: skew(45deg) translateX(0%);
	}
	.imgcontainer:hover figure:after
	{
		transform: skew(-135deg) translateX(0%);
	}		

	
	/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For smartphone: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	.pulse, .imcontainer, img, figure, figcaption {display:none;}
	header h1{
		text-align:center;
		margin-top:2px;
		margin-bottom:-6px;
	}
	
	.one .page-container{
		margin: 0;
		padding: 20px;
		left: 0;
		top: 15%;
		width: 100%;
		border: 3px solid #73AD21;
	}
		.one .page-container h2{
			font-size: 4em;
		}
		.one .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}
		
	.two .page-container{
		margin: 0;
		padding: 20px;
		left: 0;
		top: 15%;
		width: 100%;
		border: 3px solid #73AD21;
	}
		.two .page-container h2{
			font-size: 4em;
		}
		.two .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}
		
	.three .page-container{
		margin: 0;
		padding: 20px;
		left: 0;
		top: 15%;
		width: 100%;
		border: 3px solid #73AD21;
	}
		.three .page-container h2{
			font-size: 4em;
		}
		.three .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}
		
	.four .page-container{
		margin: 0;
		padding: 20px;
		left: 0;
		top: 15%;
		width: 100%;
		border: 3px solid #73AD21;
	}
		.four .page-container h2{
			font-size: 4em;
		}
		.four .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}
	.socmed {display:none;}	
	
	.socmed{
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
	}		
}
	

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	
	.email {display:none;}	
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	.email {display:none;}	
}